## Nacimientos, matrimonios y defunciones 2011

En este notebook procesaremos 52 JSON, uno por cada provincia y ciudad autónoma.  
Cada uno de ellos contiene el total de nacimientos, matrimonios y defunciones desagregado por municipios en 2011.  
Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio 
- Nacimientos
- Matrimonios
- Defunciones

In [1]:
import pandas as pd
import requests

Códigos de cada una de las tablas de las provincias y ciudadas autónomas del INE correspondientes a los datos de 2011:

In [2]:
CodTablas = list(range(22808, 22859+1))

In [3]:
def ine_request(ine_code):
    
    path_template = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA/{cod_serie}?tip=AM&'
    path = path_template.format(cod_serie=ine_code)
    json_request = requests.get(path).json()
    
    return json_request

In [4]:
PobNacList = list()
NacList = list()
PobMatList = list()
MatList = list()
PobDefList = list()
DefList = list()

In [5]:
for codigo in CodTablas:
    datos = ine_request(codigo)
    for dato in datos: 
        for i in range(0,len(dato['Data'])):
            if 'nacidos vivos por residencia materna' in dato['Nombre']:
                PobNacList.append(dato['Nombre'])
                NacList.append(dato['Data'][i]['Valor'])
            elif 'matrimonios por el lugar en que han fijado residencia' in dato['Nombre']:
                PobMatList.append(dato['Nombre'])
                MatList.append(dato['Data'][i]['Valor'])
            elif 'fallecidos por el lugar de residencia' in dato['Nombre']:
                PobDefList.append(dato['Nombre'])
                DefList.append(dato['Data'][i]['Valor']) 

Nacimientos = pd.DataFrame({
'Codigo Municipio' : PobNacList,
'Nacimientos': NacList
})

Matrimonios = pd.DataFrame({
'Codigo Municipio' : PobMatList,
'Matrimonios': MatList
})

Defunciones = pd.DataFrame({
'Codigo Municipio' : PobDefList,
'Defunciones': DefList
})

In [6]:
Naci_Matri_Defun11 = pd.concat([Nacimientos, Matrimonios, Defunciones], axis = 1)
Naci_Matri_Defun11 = Naci_Matri_Defun11.loc[:, ~Naci_Matri_Defun11.columns.duplicated()]
Naci_Matri_Defun11.head()

,Codigo Municipio,Nacimientos,Matrimonios,Defunciones
0,"02001 Abengibre, nacidos vivos por residencia ...",5.0,3.0,19.0
1,"02002 Alatoz, nacidos vivos por residencia mat...",1.0,0.0,5.0
2,"02003 Albacete, nacidos vivos por residencia m...",1957.0,658.0,1156.0
3,"02004 Albatana, nacidos vivos por residencia m...",5.0,3.0,5.0
4,"02005 Alborea, nacidos vivos por residencia ma...",7.0,1.0,15.0

Cargamos la tabla 01_Output_ProvMun_11.csv para crear una columna con la variable Codigo Municipio:

In [7]:
ProvMun = pd.read_csv('01_Output_ProvMun_11.csv', dtype={'Codigo CCAA' : str, 
                                                         'Codigo Provincia' : str, 
                                                         'Codigo Municipio' : str}) 
ProvMun.head()

,Nombre CCAA,Codigo CCAA,Nombre Provincia,Codigo Provincia,Nombre Municipio,Codigo Municipio
0,Pais Vasco,16,Araba/Álava,01,Alegría-Dulantzi,01001
1,Pais Vasco,16,Araba/Álava,01,Amurrio,01002
2,Pais Vasco,16,Araba/Álava,01,Añana,01049
3,Pais Vasco,16,Araba/Álava,01,Aramaio,01003
4,Pais Vasco,16,Araba/Álava,01,Armiñón,01006

In [8]:
MunList = ProvMun['Codigo Municipio'].tolist()

In [9]:
def check_list(x):
    for l in MunList:
        if l in x:
            return l
    return ''

In [10]:
Naci_Matri_Defun11['Codigo Municipio'] = Naci_Matri_Defun11['Codigo Municipio'].map(lambda x: check_list(x))

In [11]:
Naci_Matri_Defun11.head()

  Codigo Municipio  Nacimientos  Matrimonios  Defunciones
0            02001          5.0          3.0         19.0
1            02002          1.0          0.0          5.0
2            02003       1957.0        658.0       1156.0
3            02004          5.0          3.0          5.0
4            02005          7.0          1.0         15.0

In [12]:
Naci_Matri_Defun11.to_csv('05_Output_Nacimientos_Matrimonios_Defunciones_11.csv', header = True, index = False)