## Número de alquileres 2011
En este notebook procesaremos un .xlsx con el número de viviendas en régime de alquiler desagregado por municipios. 

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº de Alquileres

In [1]:
import pandas as pd

In [2]:
Alquileres11 = pd.read_excel('24_Input_Alquileres_11.xlsx', usecols = ['Municipio de residencia',
                                                                      'Alquilada'], 
                             dtype={'Municipio de residencia' : str})
Alquileres11.head()

  Municipio de residencia Alquilada
0            44001 Ababuj         *
1            40001 Abades        65
2            10001 Abadía        65
3            27001 Abadín        45
4           48001 Abadiño       335

Añadimos el campo Código Municipio al DataFrame asignando el valor de cada fila en función del código que aparece en el campo municipio de residencia.  
Para ello usamos la tabla 01_Output_ProvMun_11.csv que contiene los códigos por municipio:

In [3]:
ProvMun = pd.read_csv('01_Output_ProvMun_11.csv', dtype={'Codigo CCAA' : str,
                                                         'Codigo Provincia' : str,
                                                         'Codigo Municipio' : str}) 
ProvMun.head()

,Nombre CCAA,Codigo CCAA,Nombre Provincia,Codigo Provincia,Nombre Municipio,Codigo Municipio
0,Pais Vasco,16,Araba/Álava,01,Alegría-Dulantzi,01001
1,Pais Vasco,16,Araba/Álava,01,Amurrio,01002
2,Pais Vasco,16,Araba/Álava,01,Añana,01049
3,Pais Vasco,16,Araba/Álava,01,Aramaio,01003
4,Pais Vasco,16,Araba/Álava,01,Armiñón,01006

In [4]:
MunList = ProvMun['Codigo Municipio'].tolist()

In [5]:
def check_list(x):
    for l in MunList:
        if l in x:
            return l
    return ''

In [6]:
Alquileres11['Codigo Municipio'] = Alquileres11['Municipio de residencia'].map(lambda x: check_list(x))
Alquileres11.head()

  Municipio de residencia Alquilada Codigo Municipio
0            44001 Ababuj         *            44001
1            40001 Abades        65            40001
2            10001 Abadía        65            10001
3            27001 Abadín        45            27001
4           48001 Abadiño       335            48001

In [7]:
Alquileres11 = Alquileres11.drop(['Municipio de residencia'], axis = 1)
Alquileres11 = Alquileres11.rename({'Alquilada' : 'Nº de Alquileres'}, axis = 1)
PrimeraColumna = Alquileres11.pop('Codigo Municipio')
Alquileres11.insert(0,'Codigo Municipio', PrimeraColumna)
Alquileres11.head()

  Codigo Municipio Nº de Alquileres
0            44001                *
1            40001               65
2            10001               65
3            27001               45
4            48001              335

In [8]:
Alquileres11.to_csv('24_Output_Alquileres_11.csv', header = True, index = False)