## Deuda ayuntamientos 2011

En este notebook procesaremos un .xlsx con la deuda viva de cada uno de los municipios en 2011.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Deuda (Miles de €)

In [1]:
import pandas as pd

In [2]:
Deuda11 = pd.read_excel('32_Input_Deuda_Ayuntamientos_11.xlsx', dtype={'Codigo Municipio' : str})
Deuda11.head()

,Codigo CA,Codigo Provin,Codigo Municipio,Municipio,Deuda (Miles de €)
0,1,4,04001,Abla ...,655.0
1,1,4,04002,Abrucena ...,262.0
2,1,4,04003,Adra ...,14657.0
3,1,4,04004,Albánchez ...,164.0
4,1,4,04005,Alboloduy ...,38.0

In [3]:
Deuda11.drop(['Codigo CA', 
              'Codigo Provin',
              'Municipio'], axis=1, inplace=True)


Deuda11.head()

  Codigo Municipio  Deuda (Miles de €)
0            04001               655.0
1            04002               262.0
2            04003             14657.0
3            04004               164.0
4            04005                38.0

In [4]:
Deuda11.to_csv('32_Output_Deuda_Ayuntamientos_11.csv', header = True, index = False)