## Densidad población 2011 y 2021

En este notebook procesaremos un .xlsx con la superficie de cada uno de los municipios junto con los csv files que contienen los datos de población.  
Calculamos la densidad desagregada por municipios y ciudades autónomas para 2011 y 2021.

In [1]:
import pandas as pd

In [2]:
DensidadPoblacion = pd.read_excel('03_Input_Densidad_Poblacion_11_21.xlsx',
                                  dtype = {'ID_REL' : str}, 
                                  usecols = ('ID_REL','SUPERFICIE'))

DensidadPoblacion.head()

  ID_REL  SUPERFICIE
0  01001   1994.5872
1  01002   9629.6800
2  01003   7302.1000
3  01004   2728.7300
4  01006   1297.2700

In [3]:
DensidadPoblacion.rename({'ID_REL': 'Codigo Municipio'}, axis = 1, inplace = True)

### Densidad población 2011

Junto con la tabla 02_Output_Poblacion_11.csv que contiene la población de 2011, obtendremos un DataFrame 
con la siguiente información:
- Codigo Municipio
- Superficie km2
- Densidad Población

In [4]:
Poblacion11 = pd.read_csv('02_Output_Poblacion_11.csv',
                          dtype = {'Codigo Municipio' : str},
                          usecols = ( 'Codigo Municipio', 'Poblacion Total'))

Poblacion11.head()

  Codigo Municipio  Poblacion Total
0               01         319227.0
1            01001           2803.0
2            01002          10014.0
3            01049            168.0
4            01003           1496.0

In [5]:
DensidadPoblacion11 = DensidadPoblacion.merge(Poblacion11, on ='Codigo Municipio')

DensidadPoblacion11.head()

  Codigo Municipio  SUPERFICIE  Poblacion Total
0            01001   1994.5872           2803.0
1            01002   9629.6800          10014.0
2            01003   7302.1000           1496.0
3            01004   2728.7300           1843.0
4            01006   1297.2700            229.0

La superficie está en hectáreas, la pasamos a km2 y calculamos la densidad:

In [6]:
DensidadPoblacion11.dtypes

Codigo Municipio     object
SUPERFICIE          float64
Poblacion Total     float64
dtype: object

In [7]:
DensidadPoblacion11['Superficie Km2'] = DensidadPoblacion11['SUPERFICIE'].map(lambda x: x/100).round(2)

DensidadPoblacion11['Densidad Poblacion'] = (DensidadPoblacion11['Poblacion Total']\
                                             / DensidadPoblacion11['Superficie Km2']).round(2)

In [8]:
DensidadPoblacion11 = DensidadPoblacion11.drop(['SUPERFICIE', 'Poblacion Total'], axis = 1)

DensidadPoblacion11.head()

  Codigo Municipio  Superficie Km2  Densidad Poblacion
0            01001           19.95              140.50
1            01002           96.30              103.99
2            01003           73.02               20.49
3            01004           27.29               67.53
4            01006           12.97               17.66

In [9]:
DensidadPoblacion11.to_csv('03_Output_Densidad_Poblacion_11.csv', header = True, index = False)

### Densidad población 2021

Junto con la tabla 02_Output_Poblacion_21.csv que contiene la población de 2021, obtendremos un DataFrame 
con la siguiente información:
- Codigo Municipio
- Superficie km2
- Densidad Población

In [10]:
Poblacion21 = pd.read_csv('02_Output_Poblacion_21.csv', 
                          dtype = {'Codigo Municipio' : str},
                          usecols = ( 'Codigo Municipio', 'Poblacion Total'))
Poblacion21.head()

  Codigo Municipio  Poblacion Total
0               01         333626.0
1            01001           2925.0
2            01002          10307.0
3            01049            155.0
4            01003           1456.0

In [11]:
DensidadPoblacion21 = DensidadPoblacion.merge(Poblacion21, on ='Codigo Municipio')

DensidadPoblacion21.head()

  Codigo Municipio  SUPERFICIE  Poblacion Total
0            01001   1994.5872           2925.0
1            01002   9629.6800          10307.0
2            01003   7302.1000           1456.0
3            01004   2728.7300           1809.0
4            01006   1297.2700            231.0

La superficie está en hectareas, la pasamos a km2 y calculamos la densidad:

In [12]:
DensidadPoblacion21['Superficie Km2'] = DensidadPoblacion21['SUPERFICIE'].map(lambda x: x/100).round(2)

DensidadPoblacion21['Densidad Poblacion'] = (DensidadPoblacion21['Poblacion Total']\
                                             / DensidadPoblacion21['Superficie Km2']).round(2)

In [13]:
DensidadPoblacion21 = DensidadPoblacion21.drop(['SUPERFICIE', 'Poblacion Total'],axis = 1)

DensidadPoblacion21.head()

  Codigo Municipio  Superficie Km2  Densidad Poblacion
0            01001           19.95              146.62
1            01002           96.30              107.03
2            01003           73.02               19.94
3            01004           27.29               66.29
4            01006           12.97               17.81

In [14]:
DensidadPoblacion21.to_csv('03_Output_Densidad_Poblacion_21.csv', header = True, index = False)