## Numero centros sanitarios 2011
En este notebook procesaremos un .xlsx con dos hojas; una con el listado detallado de hospitales y otras con el listado detallado de centros de salud. Ambos desagregados por municipios. 

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº Centros Sanitarios

In [1]:
import pandas as pd

Procesamos el .xlsx de hospitales y de centros de salud del año 2011 y concatenamos:

In [2]:
Hospitales11 = pd.read_excel('10_Input_Centros_Sanitarios_11.xlsx', usecols = ['NOMBRE','CODMU'], 
                             sheet_name ='HOSPITALES', dtype = {'CODMU' : str})

Hospitales11.head()

                                              NOMBRE  CODMU
0  HOSPITAL NUESTRA SE?ORA DEL PERPETUO SOCORRO S.A.  30016
1               FUNDACION HOSPITAL DE LA REAL PIEDAD  30017
2                       HOSPITAL VIRGEN DEL ALCAZAR   30024
3     HOSPITAL UNIVERSITARIO LOS ARCOS DEL MAR MENOR  30035
4                       HOSPITAL VIRGEN DEL CASTILLO  30043

In [3]:
CentrosSalud11 = pd.read_excel('10_Input_Centros_Sanitarios_11.xlsx', usecols = ['NOMBRE', 'CODMU'], 
                               sheet_name ='CENTROS', dtype = {'CODMU' : str})

CentrosSalud11.head()

                 NOMBRE  CODMU
0      ELENA GINEL DIEZ  37274
1          BENQUERENCIA  45168
2            GARGANTIEL  13012
3  SAN MIGUEL DE GENETO  38023
4              GALLEGOS  38007

In [4]:
CentrosSanitarios11 = pd.concat([Hospitales11, CentrosSalud11], ignore_index = True)

CentrosSanitarios11.head()

                                              NOMBRE  CODMU
0  HOSPITAL NUESTRA SE?ORA DEL PERPETUO SOCORRO S.A.  30016
1               FUNDACION HOSPITAL DE LA REAL PIEDAD  30017
2                       HOSPITAL VIRGEN DEL ALCAZAR   30024
3     HOSPITAL UNIVERSITARIO LOS ARCOS DEL MAR MENOR  30035
4                       HOSPITAL VIRGEN DEL CASTILLO  30043

Contamos cuántos centros sanitarios hay por municipio agrupando por el código de municipio:

In [5]:
CentrosSanitarios11 = CentrosSanitarios11.groupby('CODMU')['NOMBRE'].count()

CentrosSanitarios11 = CentrosSanitarios11.reset_index()

CentrosSanitarios11.head()

   CODMU  NOMBRE
0  01001       1
1  01002       2
2  01003       1
3  01004       1
4  01008       1

In [6]:
CentrosSanitarios11.rename({'NOMBRE' : 'Nº Centros Sanitarios', 'CODMU' : 'Codigo Municipio'}, 
                           axis = 1, inplace = True)

CentrosSanitarios11.head()

  Codigo Municipio  Nº Centros Sanitarios
0            01001                      1
1            01002                      2
2            01003                      1
3            01004                      1
4            01008                      1

In [7]:
CentrosSanitarios11.to_csv('10_Output_Centros_Sanitarios_11.csv', header = True, index = False)