## Numero de centros educativos 2011
En este notebook procesaremos un .xlsx  que contiene el listado detallado de centros educativos desagregados por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº Centros Educativos

In [1]:
import pandas as pd

In [2]:
CentrosEducativos11 = pd.read_excel('11_Input_Centros_Educativos_11.xlsx', 
                                    usecols = ['Denominación genérica', 'codigo ine'],
                                    dtype = {'codigo ine' : str})

CentrosEducativos11.head()

  Denominación genérica codigo ine
0     AIURRI MONTESSORI      01059
1                EUROPA      01059
2   VERGE DE MONTI-SION      07043
3    VÉNDA D&apos;ARABÍ      07054
4          Ernest Lluch      08001

Contamos cuántos centros educativos hay por municipio agrupando por Codigo Ine:

In [3]:
CentrosEducativos11 = CentrosEducativos11.groupby('codigo ine')['Denominación genérica'].count()
CentrosEducativos11 = CentrosEducativos11.reset_index()

CentrosEducativos11.head()

  codigo ine  Denominación genérica
0      01001                      4
1      01002                      9
2      01003                      2
3      01004                      3
4      01006                      2

In [4]:
CentrosEducativos11.rename({'codigo ine' : 'Codigo Municipio', 'Denominación genérica' : 'Nº Centros Educativos'},\
                           axis = 1, inplace = True )

CentrosEducativos11.head()

  Codigo Municipio  Nº Centros Educativos
0            01001                      4
1            01002                      9
2            01003                      2
3            01004                      3
4            01006                      2

In [5]:
CentrosEducativos11.to_csv('11_Output_Centros_Educativos_11.csv', header = True, index = False)