## Número de transacciones inmobiliarias 2011
En este notebook procesaremos un .xlsx con el número de transacciones inmobiliarias de viviendas desagregado por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº Transacciones Inmobiliarias

In [1]:
import pandas as pd
import numpy as np

In [2]:
Transacciones11 = pd.read_excel('12_Input_Transacciones_Inmobiliarias_11.xlsx', dtype = {'Código' : str})

Transacciones11.head()

  Código          Etiqueta Número de transacciones anuales 2011
0  01001  Alegría-Dulantzi                                   25
1  01002           Amurrio                                  185
2  01003           Aramaio                                    8
3  01004        Artziniega                                    6
4  01006           Armiñón                                    7

In [3]:
Transacciones11.drop(['Etiqueta'], axis = 1, inplace = True)

Transacciones11.rename({'Código' : 'Codigo Municipio', 
                       'Número de transacciones anuales 2020' : 'Nº de transacciones'}, 
                       axis = 1, inplace = True)

Algunas variables toman el valor: N/A - resultado no disponible.  
Lo substituimos por NaN:

In [4]:
Transacciones11.replace('N/A - resultado no disponible', np.nan, inplace = True)

In [5]:
Transacciones11.to_csv('12_Output_Transacciones_Inmobiliarias_11.csv', header = True, index = False)