## Número de edificios e inmuebles 2011

En este notebook procesaremos un JSON que contiene el número de edificos e inmuebles desagregado por municipios.

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº edificios
- Nº inmuebles

In [1]:
import pandas as pd
import requests

In [2]:
Path = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA//t20/e244/edificios/p04/l0/1mun00.px?tip=AM&p=2&'

json_request = requests.get(Path).json()

In [3]:
CodEdiList = list()
EdiList = list()
CodInmuList = list()
InmuList = list()

In [4]:
for dato in json_request: 
    for i in range(0,len(dato['Data'])):
        if 'edificios' in dato['Nombre']:
            CodEdiList.append(dato['MetaData'][0]['Codigo'])
            EdiList.append(dato['Data'][i]['Valor'])
        elif 'inmuebles' in dato['Nombre']:
            CodInmuList.append(dato['MetaData'][0]['Codigo'])
            InmuList.append(dato['Data'][i]['Valor'])

In [5]:
Edificios11 = pd.DataFrame({
        'Codigo Municipio' : CodEdiList,
        'Nº edificios': EdiList
    })

Inmuebles11 = pd.DataFrame({
        'Codigo Municipio' : CodInmuList,
        'Nº Inmuebles': InmuList
    })

In [6]:
EdificiosInmuebles11 = pd.concat([Edificios11, Inmuebles11], axis = 1)

EdificiosInmuebles11 = EdificiosInmuebles11.loc[:, ~EdificiosInmuebles11.columns.duplicated()]

EdificiosInmuebles11.head()

  Codigo Municipio  Nº edificios  Nº Inmuebles
0            00000     9814785.0    26385115.0
1            44001         100.0         105.0
2            40001         506.0         543.0
3            10001         192.0         216.0
4            27001        1577.0        1662.0

In [7]:
EdificiosInmuebles11.to_csv('16_Output_Edificios_Inmuebles_11.csv', header = True, index = False)