## Edad medida de los edificios 2011
En este notebook procesaremos un .xlsx con la edad media de los edificios desagregado por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Edad Media Edificios

In [1]:
import pandas as pd
import numpy as np

In [2]:
EdadEdificios11 = pd.read_excel('27_Input_Edad_Edificios_11.xlsx', dtype = {'Código' : str})

EdadEdificios11.head()

  Código          Etiqueta Edad media de los edificios 2011
0  01001  Alegría-Dulantzi    N/A - resultado no disponible
1  01002           Amurrio    N/A - resultado no disponible
2  01003           Aramaio    N/A - resultado no disponible
3  01004        Artziniega    N/A - resultado no disponible
4  01006           Armiñón    N/A - resultado no disponible

In [3]:
EdadEdificios11.drop(['Etiqueta'], axis = 1, inplace = True)
EdadEdificios11.rename({'Código' : 'Codigo Municipio',
                        'Edad media de los edificios 2011' : 'Edad Media Edificios'}, axis = 1, inplace = True)

EdadEdificios11.head()

  Codigo Municipio           Edad Media Edificios
0            01001  N/A - resultado no disponible
1            01002  N/A - resultado no disponible
2            01003  N/A - resultado no disponible
3            01004  N/A - resultado no disponible
4            01006  N/A - resultado no disponible

Algunas variables toman el valor: N/A - resultado no disponible.  
Lo sustituimos por NaN:

In [4]:
EdadEdificios11.replace('N/A - resultado no disponible', np.nan, inplace = True)

In [5]:
EdadEdificios11.to_csv('27_Output_Edad_Edificios_11.csv', header = True, index = False)