## Parque de vehículos 2011

En este notebook procesaremos un .xlsx con el número de vehículos por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº vehículos

In [1]:
import pandas as pd

In [2]:
Vehiculos11 = pd.read_excel('30_Input_Parque_Vehiculos_11.xlsx', dtype = {'Codigo Municipio' : str})

Vehiculos11.head()

  Codigo Municipio Municipio de residencia  Total
0            01001        Alegría-Dulantzi   1947
1            01002                 Amurrio   6906
2            01003                 Aramaio   1236
3            01004              Artziniega   1266
4            01006                 Armiñón    205

In [3]:
Vehiculos11.drop('Municipio de residencia', axis = 1, inplace = True)

Vehiculos11.rename({'Total' : 'Nº Vehiculos'}, axis = 1, inplace = True)

Vehiculos11.head()

  Codigo Municipio  Nº Vehiculos
0            01001          1947
1            01002          6906
2            01003          1236
3            01004          1266
4            01006           205

In [4]:
Vehiculos11.to_csv('30_Output_Parque_Vehiculos_11.csv', header = True, index = False)