## Censo conductores 2011

En este notebook procesaremos un .xlsx con el número de conductores por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº de conductores

In [1]:
import pandas as pd

In [2]:
Conductores11 = pd.read_excel('31_Input_Censo_Conductores_11.xlsx', dtype = {'Codigo Municipio' : str})

Conductores11.head()

  Codigo Municipio Municipio de residencia  Total
0            44001                  Ababuj     39
1            40001                  Abades    538
2            48001                 Abadiño   4594
3            10001                  Abadía    164
4            27001                  Abadín   1830

In [3]:
Conductores11.drop('Municipio de residencia', axis = 1, inplace = True)
Conductores11.rename({'Total' : 'Nº Conductores'}, axis = 1, inplace = True)

Conductores11.head()

  Codigo Municipio  Nº Conductores
0            44001              39
1            40001             538
2            48001            4594
3            10001             164
4            27001            1830

In [4]:
Conductores11.to_csv('31_Output_Censo_Conductores_11.csv', header = True, index = False)