In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Despob1acioncon = pd.read_csv('/home/dsc/Python/Despoblacion/Union_Depuracion_Data/Despoblacioncon_11.csv', dtype='object')

In [3]:
Despob1acioncon.head()

,Nombre Provincia,Codigo Provincia,Nombre Municipio,Codigo Municipio,Poblacion Total,Poblacion Hombre,Poblacion Mujer,Superficie Km2,Densidad Poblacion,Altitud Municipios,...,2 personas,3 personas,4 personas,5 personas,6 o más personas,Edad Media Edificios,Uso Industrial,Uso Residelcial,Uso Terciario,Otros Usos
0,Araba/Álava,01,Alegría-Dulantzi,01001,2803.0,1466.0,1337.0,19.95,140.5,568.0,...,685,705,1125,105,40,NaN,NaN,NaN,NaN,NaN
1,Araba/Álava,01,Amurrio,01002,10014.0,5030.0,4984.0,96.3,103.99,219.0,...,2545,2945,2745,690,360,NaN,NaN,NaN,NaN,NaN
2,Araba/Álava,01,Aramaio,01003,1496.0,784.0,712.0,73.02,20.49,333.0,...,380,270,545,120,65,NaN,NaN,NaN,NaN,NaN
3,Araba/Álava,01,Armiñón,01006,229.0,112.0,117.0,12.97,17.66,467.0,...,45,95,60,5,2,NaN,NaN,NaN,NaN,NaN
4,Araba/Álava,01,Arrazua-Ubarrundia,01008,951.0,508.0,443.0,57.56,16.52,528.0,...,160,290,290,90,35,NaN,NaN,NaN,NaN,NaN

In [4]:
Despob1acioncon.drop(['Edad Media Edificios', 'Uso Industrial', 
                      'Uso Residelcial', 'Uso Terciario', 'Otros Usos'], axis = 1, inplace = True)

In [5]:
Valores = Despob1acioncon.isnull().sum()
print(Valores.to_string())

Nombre Provincia                                0
Codigo Provincia                                0
Nombre Municipio                                0
Codigo Municipio                                0
Poblacion Total                                 0
Poblacion Hombre                                0
Poblacion Mujer                                 0
Superficie Km2                                  0
Densidad Poblacion                              0
Altitud Municipios                              0
Nacimientos                                     0
Matrimonios                                     0
Defunciones                                     0
Regimen General                                 0
Regimen Agrario                                 0
Regimen Mar                                     0
Regimen Hogar                                   0
Regimen Autonomos                               0
Regimen Carbon                                  0
Total Regimen SS                                0
Total Contratos                                 0
Contratos iniciales indefinidos hombres         0
Contratos iniciales temporales hombres          0
Contratos convertidos en indefinidos hombres    0
Contratos iniciales indefinidos mujeres         0
Contratos iniciales temporales mujeres          0
Contratos convertidos en indefinidos mujeres    0
Contratos  Agricultura                          0
Contratos  Industria                            0
Contratos Construcción                          0
Contratos  Servicios                            0
Total Paro Registrado                           0
Paro hombre edad < 25                           0
Paro hombre edad 25 -45                         0
Paro hombre edad >=45                           0
Paro mujer edad < 25                            0
Paro mujer edad 25 -45                          0
Paro mujer edad >=45                            0
Paro Agricultura                                0
Paro Industria                                  0
Paro Construcción                               0
Paro Servicios                                  0
Paro Sin empleo Anterior                        0
Nº Establecimientos Agricultura                 2
Nº Establecimientos Industria                   2
Nº Establecimientos Construccion                2
Nº Establecimientos Servicios                   2
Nº Centros Sanitarios                           0
Nº Centros Educativos                           0
Número de transacciones anuales 2011            0
Nº Residencias Mayores                          0
Nº Instituciones Religiosas y Militares         0
Nº Hombres Extranjeros                          0
Nº Mujeres Extranjeras                          0
Nº Total Extranjeros                            0
Nº Hombres Otra CCAA                            0
Nº Mujeres Otra CCAA                            0
Nº Total Otra CCAA                              0
Nº edificios                                    0
Nº Inmuebles                                    0
Nº viviendas                                    0
Edad < 16                                       0
16 =< Edad =<64                                 0
Edad >= 65                                      0
Soltero/a                                       0
Casado/a                                        0
Separado/a                                      0
Divorciado/a                                    0
Viudo/a                                         0
Sin Estudios                                    0
Estudios Primarios o Secundarios                0
Estudios Superiones                             0
Nº de Jubilados                                 0
Nº de Estudiantes                               0
Empresario que emplea personal                  0
Empresario que no emplea personal               0
1 hijo/a                                        0
2 hijos/as                                      0
3 hijos/as                                      0
4 o más hijos/as                                0
Nº de Alquileres                                0
Hogares Unipersonales                           0
Hogares Familiares                              0
1 persona                                       0
2 personas                                      0
3 personas                                      0
4 personas                                      0
5 personas                                      0
6 o más personas                                0

In [7]:
Columnas = ['Nº Establecimientos Agricultura', 'Nº Establecimientos Industria', 'Nº Establecimientos Construccion',
            'Nº Establecimientos Servicios']
Despob1acioncon = Despob1acioncon.dropna(subset = Columnas)

In [9]:
Despob1acioncon.shape

(4390, 89)

In [11]:
Densidad21 = pd.read_csv('/home/dsc/Python/Despoblacion/Data/03_Output_Densidad_Poblacion_21.csv' ,dtype='object')

In [12]:
Densidad21.head()

  Codigo Municipio Superficie Km2 Densidad Poblacion
0            01001          19.95             146.62
1            01002           96.3             107.03
2            01003          73.02              19.94
3            01004          27.29              66.29
4            01006          12.97              17.81

In [13]:
Densidad21['Densidad Poblacion'] = round(Densidad21['Densidad Poblacion'].map(pd.to_numeric), 2)

In [14]:
Densidad21['Umbral'] = Densidad21['Densidad Poblacion'].map(lambda x: 'Despoblado' if x < 12.5 else 'Poblado')

In [15]:
Despob1acioncon1 = Despob1acioncon.merge(Densidad21, how = 'left', on = 'Codigo Municipio')

In [18]:
Despob1acioncon1['Umbral'].value_counts()

Poblado       4129
Despoblado     261
Name: Umbral, dtype: int64