## Población 2011 y 2021

En este notebook procesaremos 52 JSON, uno por cada provincia y ciudad autónoma.  
Cada uno de ellos contiene el total de población por municipios así como la segmentación por sexo.

In [1]:
import pandas as pd
import requests

Creamos una lista con el número de tabla del INE correspondiente a cada provincia y ciudad autónoma:

In [2]:
CodTablas = [2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863, 2864, 2865, 2866, 2868, 2869, 2870,2871,
2872, 2873,  2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885, 2886, 2888, 2889, 2890, 2891, 
2892, 2893, 2894, 2895, 2896, 2899, 2900, 2901,2902, 2903, 2904, 2905, 2906, 2907,  2908, 2909]

In [3]:
def Ine(ine_code):
    
    Path = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA/{cod_serie}?tip=AM&'
    Path = Path.format(cod_serie=ine_code)
    json_request = requests.get(Path).json()
    
    return json_request

### Población 2011
 
Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Poblacion Total
- Poblacion Hombres
- Poblacion Mujeres

In [4]:
CodHomList = list()
PobHomList = list()
PobMujList = list()
CodMujList = list()
PobTotList = list()
CodTolList = list()

Nos quedamos solo con el año 2011:

In [5]:
for codigo in CodTablas:
    datos = Ine(codigo)
    for dato in datos: 
        for i in range(0,len(dato['Data'])):
            if  dato['Data'][i]['Anyo'] == 2011 and 'Hombres' in dato['Nombre']:
                PobHomList.append(dato['Data'][i]['Valor'])
                CodHomList.append(dato['MetaData'][0]['Codigo'])
            elif dato['Data'][i]['Anyo'] == 2011 and 'Mujeres' in dato['Nombre']:
                PobMujList.append(dato['Data'][i]['Valor'])
                CodMujList.append(dato['MetaData'][0]['Codigo'])
            elif dato['Data'][i]['Anyo'] == 2011 and ('Hombres'and'Mujeres') not in dato['Nombre']:
                PobTotList.append(dato['Data'][i]['Valor'])
                CodTolList.append(dato['MetaData'][0]['Codigo'])

In [6]:
PoblacionHombres = pd.DataFrame({
        'Codigo Municipio' : CodHomList,
        'Poblacion Hombre': PobHomList
    })

PoblacionMujeres = pd.DataFrame({
        'Codigo Municipio' : CodMujList,
        'Poblacion Mujer': PobMujList
    })

PoblacionTotal = pd.DataFrame({
        'Codigo Municipio' : CodTolList,
        'Poblacion Total': PobTotList
    })

In [7]:
Poblacion11 = pd.concat([PoblacionTotal, PoblacionHombres, PoblacionMujeres], axis = 1)
Poblacion11 = Poblacion11.loc[:, ~Poblacion11.columns.duplicated()]

Poblacion11.head()

  Codigo Municipio  Poblacion Total  Poblacion Hombre  Poblacion Mujer
0               01         319227.0          159041.0         160186.0
1            01001           2803.0            1466.0           1337.0
2            01002          10014.0            5030.0           4984.0
3            01049            168.0              86.0             82.0
4            01003           1496.0             784.0            712.0

In [8]:
Poblacion11.to_csv('02_Output_Poblacion_11.csv', header = True, index = False)

### Población 2021
 
Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Poblacion Total
- Poblacion Hombres
- Poblacion Mujeres

In [9]:
CodHomList = list()
PobHomList = list()
PobMujList = list()
CodMujList = list()
PobTotList = list()
CodTolList = list()

Nos quedamos solo con el año 2021:

In [10]:
for codigo in CodTablas:
    datos = Ine(codigo)
    for dato in datos: 
        for i in range(0,len(dato['Data'])):
            if  dato['Data'][i]['Anyo'] == 2021 and 'Hombres' in dato['Nombre']:
                PobHomList.append(dato['Data'][i]['Valor'])
                CodHomList.append(dato['MetaData'][0]['Codigo'])
            elif dato['Data'][i]['Anyo'] == 2021 and 'Mujeres' in dato['Nombre']:
                PobMujList.append(dato['Data'][i]['Valor'])
                CodMujList.append(dato['MetaData'][0]['Codigo'])
            elif dato['Data'][i]['Anyo'] == 2021 and ('Hombres'and'Mujeres') not in dato['Nombre']:
                PobTotList.append(dato['Data'][i]['Valor'])
                CodTolList.append(dato['MetaData'][0]['Codigo'])

In [11]:
PoblacionHombres = pd.DataFrame({
        'Codigo Municipio' : CodHomList,
        'Poblacion Hombre': PobHomList
    })

PoblacionMujeres = pd.DataFrame({
        'Codigo Municipio' : CodMujList,
        'Poblacion Mujer': PobMujList
    })

PoblacionTotal = pd.DataFrame({
        'Codigo Municipio' : CodTolList,
        'Poblacion Total': PobTotList
    })

In [12]:
Poblacion21 = pd.concat([PoblacionTotal, PoblacionHombres, PoblacionMujeres], axis = 1)
Poblacion21 = Poblacion21.loc[:, ~Poblacion21.columns.duplicated()]

Poblacion21.head()

  Codigo Municipio  Poblacion Total  Poblacion Hombre  Poblacion Mujer
0               01         333626.0          164252.0         169374.0
1            01001           2925.0            1517.0           1408.0
2            01002          10307.0            5084.0           5223.0
3            01049            155.0              94.0             61.0
4            01003           1456.0             756.0            700.0

In [13]:
Poblacion21.to_csv('02_Output_Poblacion_21.csv', header = True, index = False)