## Población nacida en el extranjero 2011

En este notebook procesaremos un JSON que contiene el número de personas; hombres y mujeres, nacidas en el extranjero desagredadas por municipios.

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº Hombres Extranjeros
- Nº Mujeres Extranjeros
- Nº Total Extranjeros

In [1]:
import pandas as pd
import requests

In [2]:
Path = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA//t20/e244/avance/p02/l0/2mun00.px?tip=AM&p=2&'

json_request = requests.get(Path).json()

In [3]:
CodHomExtiList = list()
HomExtiList = list()
CodMujExtiList = list()
MujExtiList = list()
CodTotalExtiList = list()
TotalExtiList = list()

In [4]:
for dato in json_request: 
    for i in range(0,len(dato['Data'])):
        if 'Hombres, Nacidos en el extranjero' in dato['Nombre']:
            CodHomExtiList.append(dato['MetaData'][0]['Codigo'])
            HomExtiList.append(dato['Data'][i]['Valor'])
        elif 'Mujeres, Nacidos en el extranjero' in dato['Nombre']:
            CodMujExtiList.append(dato['MetaData'][0]['Codigo'])
            MujExtiList.append(dato['Data'][i]['Valor'])     
        elif 'Ambos sexos, Nacidos en el extranjero' in dato['Nombre']:
            CodTotalExtiList.append(dato['MetaData'][0]['Codigo'])
            TotalExtiList.append(dato['Data'][i]['Valor'])

In [5]:
HombresExtranjeros11 = pd.DataFrame({
        'Codigo Municipio' : CodHomExtiList,
        'Nº Hombres Extranjeros': HomExtiList
    })

MujeresExtranjeras11 = pd.DataFrame({
        'Codigo Municipio' : CodMujExtiList,
        'Nº Mujeres Extranjeras': MujExtiList
    })

TotalExtranjeros11 = pd.DataFrame({
        'Codigo Municipio' : CodTotalExtiList,
        'Nº Total Extranjeros': TotalExtiList
    })

In [6]:
NacidosExtranjero11 = pd.concat([HombresExtranjeros11, MujeresExtranjeras11, TotalExtranjeros11], axis = 1)

NacidosExtranjero11 = NacidosExtranjero11.loc[:, ~NacidosExtranjero11.columns.duplicated()]

NacidosExtranjero11.head()

,Codigo Municipio,Nº Hombres Extranjeros,Nº Mujeres Extranjeras,Nº Total Extranjeros
0,00000,3194715.0,3112562.0,6307277.0
1,44001,NaN,0.0,0.0
2,40001,21.0,24.0,46.0
3,10001,2.0,4.0,6.0
4,27001,14.0,14.0,28.0

In [7]:
NacidosExtranjero11.to_csv('14_Output_Nacidos_Extranjero_11.csv', header = True, index = False)