## Población nacida en otra CCAA 2011

En este notebook procesaremos un JSON que contiene el número de personas; hombres y mujeres, nacidas en otra comunidad autónoma desagredadas por municipios.

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Nº Hombres Otra CCAA
- Nº Mujeres Otra CCAA
- Nº Total Otra CCAA

In [1]:
import pandas as pd
import requests

In [2]:
Path = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA//t20/e244/avance/p02/l0/2mun00.px?tip=AM&p=2&'

json_request = requests.get(Path).json()

In [3]:
CodHomCCAAList = list()
HomCCAAList = list()
CodMujCCAAList = list()
MujCCAAList = list()
CodTotalCCAAList = list()
TotalCCAAList = list()

In [4]:
for dato in json_request: 
    for i in range(0,len(dato['Data'])):
        if 'Hombres, En distinta Comunidad Autónoma' in dato['Nombre']:
            CodHomCCAAList.append(dato['MetaData'][0]['Codigo'])
            HomCCAAList.append(dato['Data'][i]['Valor'])
        elif 'Mujeres, En distinta Comunidad Autónoma' in dato['Nombre']:
            CodMujCCAAList.append(dato['MetaData'][0]['Codigo'])
            MujCCAAList.append(dato['Data'][i]['Valor'])     
        elif 'Ambos sexos, En distinta Comunidad Autónoma' in dato['Nombre']:
            CodTotalCCAAList.append(dato['MetaData'][0]['Codigo'])
            TotalCCAAList.append(dato['Data'][i]['Valor'])

In [5]:
HombresCCAA11 = pd.DataFrame({
        'Codigo Municipio' : CodHomCCAAList,
        'Nº Hombres Otra CCAA': HomCCAAList
    })

MujeresCCAA11 = pd.DataFrame({
        'Codigo Municipio' : CodMujCCAAList,
        'Nº Mujeres Otra CCAA': MujCCAAList
    })

TotalCCAA11 = pd.DataFrame({
        'Codigo Municipio' : CodTotalCCAAList,
        'Nº Total Otra CCAA': TotalCCAAList
    })

In [6]:
NacidosOtraCCAA11 = pd.concat([HombresCCAA11, MujeresCCAA11, TotalCCAA11], axis = 1)

NacidosOtraCCAA11 = NacidosOtraCCAA11.loc[:, ~NacidosOtraCCAA11.columns.duplicated()]

NacidosOtraCCAA11.head()

,Codigo Municipio,Nº Hombres Otra CCAA,Nº Mujeres Otra CCAA,Nº Total Otra CCAA
0,00000,3311385.0,3738261.0,7049646.0
1,44001,6.0,5.0,11.0
2,40001,26.0,21.0,47.0
3,10001,34.0,22.0,56.0
4,27001,44.0,19.0,63.0

In [7]:
NacidosOtraCCAA11.to_csv('15_Output_Nacidos_Otra_CCAA_11.csv', header = True, index = False)