## Altitud municipios

En este notebook procesaremos el archivo 03_Input_Densidad_Poblacion_11_21.xlsx para extraer la variable altitud de los municipios.  
Obtendremos un DataFrame con la siguiente informaci√≥n:
- Codigo Municipio
- Altitud Municipios

In [1]:
import pandas as pd

In [2]:
AltitudMunicipios = pd.read_excel('03_Input_Densidad_Poblacion_11_21.xlsx', 
                                  dtype={'ID_REL' : str}, 
                                  usecols=('ID_REL','ALTITUD'))
AltitudMunicipios.head()

  ID_REL  ALTITUD
0  01001    568.0
1  01002    219.0
2  01003    333.0
3  01004    210.0
4  01006    467.0

In [3]:
AltitudMunicipios.rename({'ID_REL': 'Codigo Municipio',
                           'ALTITUD' : 'Altitud Municipios'}, axis=1, inplace=True)

In [4]:
AltitudMunicipios.to_csv('04_Output_Altitud_Municipios_11.csv', header = True, index = False)